# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
*.hprof
captures/
local.properties

# Sorties
*.apk
*.aab
*.ap_
*.dex

# Keystore
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db
